@font-face {
    font-family: "Syncopate";
    src: url("./fonts/Syncopate/Syncopate-Regular.ttf") format("truetype"), url("./fonts/Syncopate/Syncopate-Bold.ttf") format("truetype");
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

* {
    font-family: "Syncopate";
    cursor: default;
}